.task-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 50px);

  .task-grid-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-weight: bold;
    align-items: center;
    text-align: center;
  }

  .task-card-container {
    font-size: 14px;
    margin: 0;
  }
}
